variables : lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi. Syarat-syarat penamaan variable 
1. karakter-karakter yang digunakan untuk penamaan variable adalah alphabet, angka, dan underscore.
2. Karakter pertama variable harus berupa huruf atau garis bawah dan tidak bisa berupa angka
3. nama sebuah variabletidak bisa menggunakan keyword atau reserved words dari bahasa phyton sepeti for

5 tipe data yaitu 
1. integer atau bilangan bulat 
2. float atau bilangan desimal 
3. string atau kalimat
4. boolean yang terdiri dari true dan false
5. complex yang merupakan bilangan kompleks

In [ ]:
# membuat variable
kalimat: 'ini adalah variable'
bilangan1:4
bilangan2:2.5
bilangan3:true 
bilangan4:4+1j

In [ ]:
#menampilkan tipe data 
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

In [ ]:
import pandas as pd

membuat data frame menggunakan list dan fungsi zip

In [ ]:
#List Buah (string)
list_Buah = ['Jeruk', 'pepaya', 'mangga', 'rambutan', 'leci', 'nanas', 'manggis']

#List Berat Buah (integer)
list_berat = [50, 800, 150, 10, 2, 300, 70]

#Membuat data frame menggunakan Dua Buah List dengan fungsi zip
df = pd.DataFrame(list(zip(list_Buah, list_berat)),
                  columns = ['nama buah','berat buah'])
df

  nama buah  berat buah
0     Jeruk          50
1    pepaya         800
2    mangga         150
3  rambutan          10
4      leci           2
5     nanas         300
6   manggis          70

In [ ]:
#list multidimensi (nama, usia)
lst = [['bejo', 25], ['ari', 30], ['asep',26],['richard',22]]

df = pd.DataFrame(lst, columns =['nama', 'usia'])
df

      nama  usia
0     bejo    25
1      ari    30
2     asep    26
3  richard    22

In [ ]:
mobil = {'Type Mobil': ['honda civic', 'toyota corella', 'ford focus', 'audi a4'], 'harga (USD)': [22000, 25000, 27000, 35000]}

df = pd.DataFrame(mobil)

df

       Type Mobil  harga (USD)
0     honda civic        22000
1  toyota corella        25000
2      ford focus        27000
3         audi a4        35000

mengimport data frame dan csv

In [ ]:
df_super_store = pd.read.csv('')
df_super_store.head

AttributeError: ignored